<!DOCTYPE html>
<html>

<head>
	<title>About</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/pillars.css">

	<!--<script type="text/javascript" src="../static/js/about.js"></script>-->

</head>



<body>

{% extends "navbar.html" %}
{% block content %}

	<div id = "header">Video Game Library Team</div>






	<div class = "cardGrid">



		<div class="card w-25" id = "brandon_ford">
			<div class = "cropImage">
		 		<img src = "../static/images/brandon_prof_pic.jpeg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Brandon Ford</h5>
		    	<p class="card-text">
					Mathematics major and Element of Computing certificate.
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: Front-end, unit tests</li>
				<li class="list-group-item">No. of Commits: 13</li>
				<li class="list-group-item">No. of Issues: 10</li>
				<li class="list-group-item">No. of Unit Tests: 5</li>
			</ul>
		  	<div class="card-footer text-muted">Role: Front-end developer</div>
		</div>



		<div class="card w-25" id = "william_kwon">
			<div class = "cropImage">
		 		<img src = "../static/images/William.png" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">William Kwon</h5>
		    	<p class="card-text">
					Mathematics major , Junior
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: Front-End </li>
				<li class="list-group-item">No. of Commits: 7</li>
				<li class="list-group-item">No. of Issues: 0</li>
				<li class="list-group-item">No. of Unit Tests: 2</li>
			</ul>
		  	<div class="card-footer text-muted">Role: Front-end developer </div>
		</div>



		<div class="card w-25" id = "madalyn_marabella">
			<div class = "cropImage">
		 		<img src = "../static/images/madalyn.jpg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Madalyn Marabella</h5>
		    	<p class="card-text">
					  Madalyn is a third year MIS major. She is a member of the Texas Orage Jackets and teaches music at UT String Project. Madalyn can do the wave with her eyebrows.
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: back-end, database setup</li>
				<li class="list-group-item">No. of Commits: 69</li>
				<li class="list-group-item">No. of Issues: 10</li>
				<li class="list-group-item">No. of Unit Tests: 0</li>
			</ul>
		  	<div class="card-footer text-muted">Role: Back-end developer</div>
		</div>




		<div class="card w-25" id = "alejandro_palacios">
			<div class = "cropImage">
		 		<img src = "../static/images/alex.jpg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Alejandro Palacios</h5>
		    	<p class="card-text">
					Fourth year Arts and Entertainment Technologies Major.
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: Front-end, back-end to front-end integration</li>
				<li class="list-group-item">No. of Commits: 31</li>
				<li class="list-group-item">No. of Issues: 7</li>
				<li class="list-group-item">No. of Unit Tests: 3</li>
			</ul>
		  	<div class="card-footer text-muted">Role: Front-end developer</div>
		</div>


		<div class="card w-25" id = "noah_placke">
			<div class = "cropImage">
		 		<img src = "../static/images/noah.jpg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Noah Placke</h5>
		    	<p class="card-text">
					Third year Economics major who likes to take baths and do face masks.
		    	</p>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Major Responsibilities: Technical Report - GCP Maintainer</li>
				<li class="list-group-item">No. of Commits: 32</li>
				<li class="list-group-item">No. of Issues: 19</li>
				<li class="list-group-item">No. of Unit Tests: 6</li>
			</ul>
		  	<div class="card-footer text-muted">Role: GCP Maintainer, back-end developer</div>
		</div>


		<div class="card w-25 bg-dark text-white" id = "everyone">
			<div class = "cropImage">
		 		<img src = "../static/images/longhorn.jpg" class = "card-img-top">
		  	</div>
		  	<div class="card-body">
		    	<h5 class="card-title">Total</h5>
		  	</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-dark">Total no. of Commits: 208</li>
				<li class="list-group-item bg-dark">Total no. of Issues: 46</li>
				<li class="list-group-item bg-dark">Total no. of Unit Tests: 16</li>
				<li class="list-group-item bg-dark"><a href="https://gitlab.com/noah_pl/cs329e-idb/issues" class="card-link">GitLab Issue Tracker</a></li>
				<li class="list-group-item bg-dark"><a href="https://gitlab.com/noah_pl/cs329e-idb" class="card-link">GitLab Repo</a></li>
				<li class="list-group-item bg-dark"><a href="https://gitlab.com/noah_pl/cs329e-idb/wikis/Technical-Report" class="card-link">GitLab Wiki</a></li>
				<li class="list-group-item bg-dark"><a href="https://speakerdeck.com/noahplacke/cs329e-presentation" class="card-link">Speaker Deck</a></li>
				<li class="list-group-item bg-dark"><a href="{{url_for('test')}}">Link to the tests</a></li>
			</ul>
		</div>



	</div>





<script>
function more(elem) {
  var x = elem.id
  const dotvals = ["dots1", "dots2", "dots3", "dots4", "dots5"]
  const morevals = ["more1", "more2", "more3", "more4", "more5"]
  var dots = document.getElementById(dotvals[x]);
  var moreText = document.getElementById(morevals[x]);
  var btnText = elem;

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read More";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read Less";
    moreText.style.display = "inline";
  }
}
</script>
{% endblock %}


</body>
</html>
