<!DOCTYPE html>
<html>

<head>

	<title>Company Details</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css"  href="../static/css/instance_companies.css"/>

</head>

<body>

{% extends "navbar.html" %}
{% block content %}
<div class="hero-bkg-animated">
  {% if company == none %}
    <p>Company does not exist!</p>

  {% else %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="header">{{company.name}}</div>
					<div>
						{% if company.logo > 0 %}
              <img src = "../static/images/{{company.logo}}.jpg" class = "logo">
            {% else %}
              <img src = "../static/images/unavailable.jpg" class = "logo">
            {% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div id="company-info">
						<div><h4 class="inline">Date Founded:</h4>{{company.date_founded}}</div>
				    <div><h4 class="inline">Description:</h4>{{company.description}}</div>
				    <div><h4 class="inline">Game(s) Developed:</h4>
              {% for game in company.games %}
    							<a href="{{url_for('games')}}{{game.game_id}}">{{game.name}}</a>{{" | " if not loop.last}}
    						{% endfor %}
						</div>
						<div><h4 class="inline">Country:</h4>{{company.country}}</div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
		</div>
  {% endif %}

{% endblock %}
</body>
</html>
