<footer class="page-footer font-small bg-light pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
      	<div class = "col-md-8">
      	</div>
        <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">Pillars</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{url_for('games')}}">Games</a>
              </li>
              <li>
                <a href="{{url_for('genres')}}">Genres</a>
              </li>
              <li>
                <a href="{{url_for('companies')}}">Companies</a>
              </li>
            </ul>
          </div>
          <div class="col col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase">About us</h5>
            <ul class="list-unstyled">
              <li>
                <a href="{{url_for('about')}}#brandon_ford">Brandon Ford</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#william_kwon">William Kwon</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#madalyn_marabella">Madalyn Marabella</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#alejandro_palacios">Alejandro Palacios</a>
              </li>
              <li>
                <a href="{{url_for('about')}}#noah_placke">Noah Placke</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Video Game Library
    </div>
  </footer>