<!DOCTYPE html>
<html>

<head>

	<title>Genre Details</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css"  href="../static/css/instance_genres.css"/>

</head>

<body>

{% extends "navbar.html" %}
{% block content %}
<div class="hero-bkg-animated">
  {% if genre == none %}
    <p>Game does not exist!</p>

  {% else %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="header">{{genre.name}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div id="genre-info">
						<div><h4 class="inline">Description</h4>{{genre.description}}</div>
				    <div><h4 class="inline">Game(s):</h4>
              {% for game in genre.games %}
                <a href = "{{url_for('games')}}{{game.game_id}}">{{game.name}}</a>{{" | " if not loop.last}}
              {% endfor %}
            </div>
				    <div><h4 class="inline">Popularity:</h4>{{genre.popularity}}</div>
						<div><h4 class="inline">IDB Genre:</h4><a href = "{{genre.url}}">{{genre.url}}</a></div>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</div>
		</div>
		</div>
  {% endif %}

{% endblock %}
</body>
</html>
